{% load game_tags %}
<div class="ticker-track">
    <div class="ticker-content">
        {% for catch in ticker_catches %}
        <a href="{% url 'aquarium:fish-detail' pk=catch.pk %}" class="ticker-item ticker-item-link">
            <span class="ticker-fish" style="color: {{ catch.species.rarity_color }};">{{ catch.species.css_class|species_emoji }}</span>
            <span class="ticker-species" style="color: {{ catch.species.rarity_color }};">{{ catch.species|lang:"name" }}</span>
            <span class="ticker-meta">
                {{ "aus"|t }} {{ catch.country_code|country_de }} {{ "auf"|t }} {{ catch.server.name }}
                ({{ catch.trapped_seconds|duration_format }})
            </span>
            <span class="ticker-sep">&bull;</span>
        </a>
        {% endfor %}
        {% for catch in ticker_catches %}
        <a href="{% url 'aquarium:fish-detail' pk=catch.pk %}" class="ticker-item ticker-item-link" aria-hidden="true" tabindex="-1">
            <span class="ticker-fish" style="color: {{ catch.species.rarity_color }};">{{ catch.species.css_class|species_emoji }}</span>
            <span class="ticker-species" style="color: {{ catch.species.rarity_color }};">{{ catch.species|lang:"name" }}</span>
            <span class="ticker-meta">
                {{ "aus"|t }} {{ catch.country_code|country_de }} {{ "auf"|t }} {{ catch.server.name }}
                ({{ catch.trapped_seconds|duration_format }})
            </span>
            <span class="ticker-sep">&bull;</span>
        </a>
        {% endfor %}
    </div>
</div>
