{% load game_tags %}
{% if alerts %}
<div x-data="{ alerts: {{ alerts_json }} }"
     x-init="
        alerts.forEach((a, i) => {
            setTimeout(() => {
                alerts = alerts.filter(x => x.id !== a.id);
            }, (5 + i * 1.5) * 1000);
        });
     ">
    <template x-for="alert in alerts" :key="alert.id">
        <div class="rare-alert"
             :class="'rare-alert-' + alert.rarity"
             x-transition:enter="alert-enter"
             x-transition:enter-start="alert-enter-start"
             x-transition:enter-end="alert-enter-end"
             x-transition:leave="alert-leave"
             x-transition:leave-start="alert-leave-start"
             x-transition:leave-end="alert-leave-end">

            <div class="rare-alert-content">
                <span class="rare-alert-emoji" x-text="alert.species_emoji"></span>
                <div class="rare-alert-info">
                    <span class="rare-alert-label"
                          :style="'color: ' + alert.rarity_color">
                        <span x-text="alert.rarity.toUpperCase()"></span> {{ "FANG!"|t }}
                    </span>
                    <span class="rare-alert-species" x-text="alert.species_name"
                          :style="'color: ' + alert.rarity_color"></span>
                    <span class="rare-alert-meta">
                        {{ "auf"|t }} <span x-text="alert.server_name"></span>
                        &middot;
                        <span x-text="alert.trapped_seconds > 86400
                            ? (alert.trapped_seconds/86400).toFixed(1) + 'd'
                            : alert.trapped_seconds > 3600
                                ? (alert.trapped_seconds/3600).toFixed(1) + 'h'
                                : (alert.trapped_seconds/60).toFixed(0) + 'min'"></span>
                        <template x-if="alert.is_live">
                            <span class="rare-alert-live">LIVE</span>
                        </template>
                    </span>
                </div>
                <button @click="alerts = alerts.filter(x => x.id !== alert.id)"
                        class="rare-alert-close">&times;</button>
            </div>
        </div>
    </template>
</div>
{% endif %}
